<h1>My Tasks</h1>
  <ul class="task-list">
    <% @tasks.each do |task| %>
    <br>
      <% if task.completed %>
        <li>
          <input type="checkbox" checked><%= link_to task.title, task_path(task) %> <%= link_to "🗑", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
        </li>
        <% else %>
        <li>
          <input type="checkbox"><%= link_to task.title, task_path(task) %> <%= link_to "🗑", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
        </li>
      <% end %>
    <% end %>
  </ul>

<%= link_to "➕ Add a new task", new_task_path %>

